<!doctype html>
<html>
    <head>
        <title>Home page</title>
        <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700" rel="stylesheet">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
        <link rel="stylesheet" href="../static/style.css">
        <script src="../static/main.js"></script>
        <script src = "../static/fitment.js"></script>
    </head>
    <body>
        <div class="testbox">
            <form action="http://localhost:5555/supply" method = "POST" enctype = "multipart/form-data">
            <h1>Resource Requirements</h1>  
            <div style="padding-top: 3px;">
              <select name="requestor_serviceline" onchange="myFunction()">
                <option value="serviceline1" selected>serviceline1</option>
                <option value="serviceline2">serviceline2</option>
                <option value="serviceline3">serviceline3</option>
              </select>
              <select name="requestor_sub_serviceline">
                <option value="subserviceline1" selected>subserviceline1</option>
                <option value="subserviceline2">subserviceline2</option>
                <option value="subserviceline3">subserviceline3</option>
                <option value="subserviceline4">subserviceline4</option>
              </select>
              <select name="requestor_smu">
                <option value="SMU1" selected>SMU1</option>
                <option value="SMU2">SMU2</option>
                <option value="SMU3">SMU3</option>
              </select>
              </div>
              <input type="text" name="job_title" style="margin-top: 5px; margin-bottom: 5px;" placeholder="Job Title"/>
              <div class="title-block">
                <input class="name" type="text" style="margin-top: 5px; margin-bottom: 5px;" name="functional_skill_1" placeholder="Functional skill" />
                <input class="name" type="text" style="margin-top: 5px; margin-bottom: 5px;" name="functional_skill_2" placeholder="Functional skill" />
                <input class="name" type="text" style="margin-top: 5px; margin-bottom: 5px;" name="functional_skill_3" placeholder="Functional skill" />
              </div>
              <div class="title-block">
                <input class="name" type="text" style="margin-top: 5px; margin-bottom: 5px;" name="techincal_skill_1" placeholder="Techincal skill" />
                <input class="name" type="text" style="margin-top: 5px; margin-bottom: 5px;" name="techincal_skill_2" placeholder="Techincal skill" />
                <input class="name" type="text" style="margin-top: 5px; margin-bottom: 5px;" name="techincal_skill_3" placeholder="Techincal skill" />
              </div>
              <div class="title-block">
                <input class="name" type="text" style="margin-top: 5px; margin-bottom: 5px;" name="process_skill_1" placeholder="Process skill" />
                <input class="name" type="text" style="margin-top: 5px; margin-bottom: 5px;" name="process_skill_2" placeholder="Process skill" />
                <input class="name" type="text" style="margin-top: 5px; margin-bottom: 5px;" name="process_skill_3" placeholder="Process skill" />
              </div>
              <h4>Location<span>*</span></h4>
              <div class="title-block">
                <input class="name" type="text" name="country" placeholder="Country" />
                <input class="name" type="text" name="location" placeholder="City" />
                <input class="name" type="text" name="alternate_location" placeholder="Alternate" />
              </div>
              <h4>Experience & Vacancies<span>*</span></h4>
              <div class="title-block">
                <input class="name" type="text" name="experience" placeholder="Min. Exp" />
                <input class="name" type="text" name="rank" placeholder="Rank Level" />
                <input class="name" type="text" name="required_resources" placeholder="Vacancy" />
              </div>
              <h4>Location Weight &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&ensp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&ensp;&emsp; Experience Weight &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&ensp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&ensp; Bench Weight &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&ensp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&ensp;&emsp;&emsp; Rank Weight</h4>
              <div class="wieght-block">
                <input class="name" id="myRange_1" value="30" type="text" name="location_weight" placeholder="For location" onchange="checkSum()" />
                <input class="name" id="myRange_2" value="10" type="text" name="experience_weight" placeholder="For experience" onchange="checkSum()"/>
                <input class="name" id="myRange_3" value="0" type="text" name="bench_weight" placeholder="For bench" onchange="checkSum()"/>
                <input class="name" id="myRange_4" value="10" type="text" name="rank_weight" placeholder="For rank" onchange="checkSum()"/>
              </div>
              <h4>Technical Weight &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&ensp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&ensp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&ensp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp; Functional Weight &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&ensp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&ensp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp; Process Weight</h4>
              <div class="wieght-block">
                <input class="name" id="myRange_5" value="30" type="text" name="technical_weight" placeholder="For technical" onchange="checkSum()"/>
                <input class="name" id="myRange_6" value="10" type="text" name="functional_weight" placeholder="For functional" onchange="checkSum()"/>
                <input class="name" id="myRange_7" value="10" type="text" name="process_weight" placeholder="For process" onchange="checkSum()"/>
              </div>
              <div class="btn-block"></div>
                <button type="submit" id="submit_btn" >Send Request</button>
              </div>
            </form>
          </div>   
          {% if data %}
              <select name="requestor_serviceline" id="fitment_dropdown" onchange="change_dispaly()">
                <option value="all" selected>Sorted by ServiceLine then by %</option>
                <option value="best_fit">Best Fit</option>
                <option value="stretched_fit">Stretched Fit</option>
                <option value="best_bet">Best Bet</option>
              </select>
              <input type="checkbox" onchange="sort_by_percentage()" id="percentage"  name="sort_percentage" style="width: 20px;height: 20px;" >
              Sort by percentage
              </input>
              <form>
          {%endif %}
          {% if emp_list_by_percentage %}
          <form  action="http://localhost:5555/forward" class="sorting_by_percentage" method = "POST" enctype = "multipart/form-data" style="padding:0px;">
            <div class="table-wrap" style="width: 80%; position: absolute; left: 10%;">
                  <table name="employees" style="width: 100%;" class="emp_table_sorted">
                    <tbody>
                      <tr>
                          <td style="width: 1%; height: 60px;">  </td>
                          <td style="width: 7%;"  > Id </td> 
                          <td style="width: 5%;" > Fitment </td>
                          <td style="width: 20%;" > SMU </td>
                          <td style="width: 51%;" > Skilll </td>
                          <td style="width: 5%;" > Experience </td>
                          <td style="width: 4%;" > Rank </td>
                          <td style="width: 11%;" > Location </td>
                          <td style="width: 5%;" >Ageing </td>
                      </tr>


              {% for row in emp_list_by_percentage %}

                    <tr>
                      <td class="table-cell"><input type="checkbox" id="vehicle1"  name={{row['e_id'] }} style="width: 20px;height: 20px;" ></td>
                        <td class="table-cell" style="width: 7%; height: 15%; overflow-y: auto;" >{{row['e_id']  }}</td> 
                        <td class="table-cell" style="width: 5%;height: 15%; overflow-y: auto;" >{{row['fitment']  }}</td>
                        <td class="table-cell" style="width: 20%; height: 15%; overflow-y: auto;" >{{row['smu_info']  }}</td> 
                        <td class="table-cell" style="width: 51%; height: 15%; overflow-y: auto;" >{{row['skills']  }}</td>
                        <td class="table-cell" style="width: 5%; height: 15%; overflow-y: auto;" >{{row['experience']  }}</td> 
                        <td class="table-cell" style="width: 4%; height: 15%; overflow-y: auto;" >{{row['rank']  }}</td> 
                        <td class="table-cell" style="width: 11%; height: 15%; overflow-y: auto;" >{{row['location']  }}</td>
                        <td class="table-cell" style="width: 5%; height: 15%; overflow-y: auto;" >{{row['bench']  }}</td>
                    </tr>
                  </tbody>
            {% endfor %}
            </table>
            <input class="name" style="display: none;" type="text" style="margin-top: 5px; margin-bottom: 5px;" name="request_obj" placeholder="Process skill" value={{ request}}/>
            <button type="submit" style="margin-left: 47%;">Forward</button>
          </div>
          
        </form>
          {% endif %} 
          {% if data %}
          <form action="http://localhost:5555/forward" method = "POST" enctype = "multipart/form-data" style="padding:0px ;">
            <div class="table-wrap" style="width: 80%; position: absolute; left: 10%;">
                  <table name="employees" style="width: 100%;" class="emp_table">
                    <tbody>
                      <tr>
                          <td style="width: 1%; height: 60px;">  </td>
                          <td style="width: 7%;"  > Id </td> 
                          <td style="width: 5%;" > Fitment </td>
                          <td style="width: 20%;" > SMU </td>
                          <td style="width: 51%;" > Skilll </td>
                          <td style="width: 5%;" > Experience </td>
                          <td style="width: 4%;" > Rank </td>
                          <td style="width: 11%;" > Location </td>
                          <td style="width: 5%;" >Ageing </td>
                      </tr>


              {% for row in data %}

                    <tr>
                      <td class="table-cell"><input type="checkbox" id="vehicle1"  name={{row['e_id'] }} style="width: 20px;height: 20px;" ></td>
                        <td class="table-cell" style="width: 7%; height: 15%; overflow-y: auto;" >{{row['e_id']  }}</td> 
                        <td class="table-cell" style="width: 5%;height: 15%; overflow-y: auto;" >{{row['fitment']  }}</td>
                        <td class="table-cell" style="width: 20%; height: 15%; overflow-y: auto;" >{{row['smu_info']  }}</td> 
                        <td class="table-cell" style="width: 51%; height: 15%; overflow-y: auto;" >{{row['skills']  }}</td>
                        <td class="table-cell" style="width: 5%; height: 15%; overflow-y: auto;" >{{row['experience']  }}</td> 
                        <td class="table-cell" style="width: 4%; height: 15%; overflow-y: auto;" >{{row['rank']  }}</td> 
                        <td class="table-cell" style="width: 11%; height: 15%; overflow-y: auto;" >{{row['location']  }}</td>
                        <td class="table-cell" style="width: 5%; height: 15%; overflow-y: auto;" >{{row['bench']  }}</td>
                    </tr>
                  </tbody>
            {% endfor %}
            </table>
            <input class="name" style="display: none;" type="text" name="request_obj" value="{{request}}"/>
            <button type="submit" style="margin-left: 47%;">Forward</button>
          </div>
          
        </form>
          {% endif %}            
    </body>
</html>