<!doctype html>
<html>
    <head>
        <title>Home page</title>
        <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700" rel="stylesheet">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
        <link rel="stylesheet" href="../static/style.css">
        <script src="../static/main.js"></script>
        <script src = "../static/fitment.js"></script>
    </head>
    <body>
        <input class="name" style="display: none;" type="text" style="margin-top: 5px; margin-bottom: 5px;" name="request_obj" placeholder="Process skill" value="{{request}}"/>
          {% if data %}
             
          {% endif %}            
    </body>
</html>