  <!doctype html>
  <html>
      <head>
          <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>

          <title>Home page</title>
          <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700" rel="stylesheet">
          <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
          <link rel="stylesheet" href="../static/style.css">
          <script src="../static/main.js"></script>
          <script src = "../static/fitment.js"></script>
      </head>
      <body>
        
          
        
        <div id="container">
          <input class="name" style="display: none;" type="text" style="margin-top: 5px; margin-bottom: 5px;" name="request_obj" value="{{request}}"/>
          <div style="width: 90%; margin-top: 2%; margin-left: 2%;">
            <h2 style="text-align: center; color:coral"><b> Current Request </b></h2>
            {% if request %}
            <table name="request_row" style="width: 100%;" class="request_row">
                <tbody>
                  <tr>
                      <td style="width: 1%; height: 20px;"><b>Job Title</b></td>
                      <td style="width: 3%;"  > <b>ServiceLine Info </b></td> 
                      <td style="width: 2%;" > <b>Location </b></td>
                      <td style="width: 2%;" > <b>Technical skills </b></td>
                      <td style="width: 2%;" > <b>Functional Skils </b></td>
                      <td style="width: 2%;" > <b>Process Skills </b></td>
                      <td style="width: 2%;" > <b>Experience </b></td>
                  </tr>
                  <tr>
                    <td style="width: 1%;"  >  {{request['job_title']}}</td> 
                    <td style="width: 3%;" > {{request['requestor_serviceline']}}>{{request['requestor_sub_serviceline']}}>{{request['requestor_smu']}}   </td>
                    <td style="width: 2%;" > {{request['location']}} </td>
                    <td style="width: 2%;" > [{{request['techincal_skill_1']}},{{request['techincal_skill_2']}},{{request['techincal_skill_3']}}] </td>
                    <td style="width: 2%;" > [{{request['functional_skill_1']}},{{request['functional_skill_2']}},{{request['functional_skill_3']}}] </td>
                    <td style="width: 2%;" > [{{request['process_skill_1']}},{{request['process_skill_2']}},{{request['process_skill_3']}}] </td>
                    <td style="width: 2%;" >{{request['experience']}} </td>
                </tr>
                </tbody>
              </table>
          {% endif %}
        </div>
            {% if data %}
            <div style="text-align: center; margin-top: 50px ; margin-bottom: 30px;">
                <select name="requestor_serviceline" id="fitment_dropdown" onchange="change_dispaly()">
                  <option value="all" selected>Sorted by ServiceLine then by %</option>
                  <option value="best_fit">Best Fit</option>
                  <option value="stretched_fit">Stretched Fit</option>
                  <option value="best_bet">Best Bet</option>
                </select>
                <input type="checkbox" onchange="sort_by_percentage()" id="percentage"  name="sort_percentage" style="width: 20px;height: 20px; margin-left: 20px;" >
                Sort by only Percentage
                </input>
              </div>
            {%endif %}

            {% if emp_list_by_percentage %}
            <form  action="http://localhost:5555/forward" class="sorting_by_percentage"method = "POST" enctype = "multipart/form-data" style="padding:0px; display: none;">
              <div class="table-wrap"   style="width: 80%; position: absolute; left: 10%;">
                    <table name="employees" style="width: 100%;" class="emp_table_sorted">
                      <tbody>
                        <tr>
                            <td style="width: 1%; height: 60px;">  </td>
                            <td style="width: 7%;"  ><b> Id </b></td> 
                            <td style="width: 5%;" ><b> Fitment </b></td>
                            <td style="width: 20%;" ><b> SMU </b></td>
                            <td style="width: 51%;" ><b> Skilll </b></td>
                            <td style="width: 5%;" ><b> Experience </b></td>
                            <td style="width: 4%;" ><b> Rank </b></td>
                            <td style="width: 11%;" ><b> Location </b></td>
                            <td style="width: 5%;" ><b>Ageing </b></td>
                        </tr>


                {% for row in emp_list_by_percentage %}

                      <tr>
                        <td class="table-cell"><input type="checkbox" id="vehicle1"  name={{row['e_id'] }} style="width: 20px;height: 20px;" ></td>
                          <td class="table-cell" style="width: 7%; height: 15%; overflow-y: auto;" >{{row['e_id']  }}</td> 
                          <td class="table-cell" style="width: 5%;height: 15%; overflow-y: auto;" >{{row['fitment']  }}</td>
                          <td class="table-cell" style="width: 20%; height: 15%; overflow-y: auto;" >{{row['smu_info']  }}</td> 
                          <td class="table-cell" style="width: 51%; height: 15%; overflow-y: auto;" >{{row['skills']  }}</td>
                          <td class="table-cell" style="width: 5%; height: 15%; overflow-y: auto;" >{{row['experience']  }}</td> 
                          <td class="table-cell" style="width: 4%; height: 15%; overflow-y: auto;" >{{row['rank']  }}</td> 
                          <td class="table-cell" style="width: 11%; height: 15%; overflow-y: auto;" >{{row['location']  }}</td>
                          <td class="table-cell" style="width: 5%; height: 15%; overflow-y: auto;" >{{row['bench']  }}</td>
                      </tr>
                    </tbody>
              {% endfor %}
              </table>
              <button type="submit" style="margin-left: 47%;">Forward</button>
            </div>
            <input class="name" style="display: none;" type="text" style="margin-top: 5px; margin-bottom: 5px;" name="request_obj" placeholder="Process skill" value="{{request}}"/>
          </form>
          {% endif %} 

            {% if data %}
            <form action="http://localhost:5555/forward" method = "POST" class="sorting_by_both" enctype = "multipart/form-data" style="padding:0px ;">
              <div class="table-wrap" style="width: 80%; position: absolute; left: 10%;">
                    <table name="employees" style="width: 100%;" class="emp_table">
                      <tbody>
                        <tr>
                          <td style="width: 1%; height: 60px;">  </td>
                          <td style="width: 7%;"  ><b> Id </b></td> 
                          <td style="width: 5%;" ><b> Fitment </b></td>
                          <td style="width: 20%;" ><b> SMU </b></td>
                          <td style="width: 51%;" ><b> Skilll </b></td>
                          <td style="width: 5%;" ><b> Experience </b></td>
                          <td style="width: 4%;" ><b> Rank </b></td>
                          <td style="width: 11%;" ><b> Location </b></td>
                          <td style="width: 5%;" ><b>Ageing </b></td>
                      </tr>


                {% for row in data %}

                      <tr>
                        <td class="table-cell"><input type="checkbox" id="vehicle1"  name={{row['e_id'] }} style="width: 20px;height: 20px;" ></td>
                          <td class="table-cell" style="width: 7%; height: 15%; overflow-y: auto;" >{{row['e_id']  }}</td> 
                          <td class="table-cell" style="width: 5%;height: 15%; overflow-y: auto;" >{{row['fitment']  }}</td>
                          <td class="table-cell" style="width: 20%; height: 15%; overflow-y: auto;" >{{row['smu_info']  }}</td> 
                          <td class="table-cell" style="width: 51%; height: 15%; overflow-y: auto;" >{{row['skills']  }}</td>
                          <td class="table-cell" style="width: 5%; height: 15%; overflow-y: auto;" >{{row['experience']  }}</td> 
                          <td class="table-cell" style="width: 4%; height: 15%; overflow-y: auto;" >{{row['rank']  }}</td> 
                          <td class="table-cell" style="width: 11%; height: 15%; overflow-y: auto;" >{{row['location']  }}</td>
                          <td class="table-cell" style="width: 5%; height: 15%; overflow-y: auto;" >{{row['bench']  }}</td>
                      </tr>
                    </tbody>
              {% endfor %}
              </table>
              <button type="submit" style="margin-left: 47%;">Forward</button>
            </div>
            <input class="name" style="display: none;" type="text" style="margin-top: 5px; margin-bottom: 5px;" name="request_obj" placeholder="Process skill" value="{{request}}"/>
          </form>
            {% endif %}   
          </div>         
      </body>
  </html>